@use "../global/variables.scss";

.advantages {
  margin: 0 auto;
  padding: 31px 30px 30px;
  width: 320px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.advantages__title {
  padding-bottom: 26px;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages__item {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: #000000;
  display: grid;
  min-height: 123px;
}

.advantages__text {
  padding: 0;
  margin: 0;
}

@media (min-width: variables.$tablet-width) {
  .advantages {
    width: 768px;
    padding: 54px 50px 58px;
  }

  .advantages__title {
    padding-bottom: 26px;
  }

  .advantages__list {
    column-count: 2;
  }

  .advantages__item {
    font-size: 20px;
    line-height: 22px;
    min-height: 150px;

    & svg {
      padding-left: 10px;
      padding-top: 20px;
    }
  }
}

@media (min-width: variables.$desktop-width) {
  .advantages {
    width: 1150px;
    padding: 68px 50px 62px 225px;
  }

  .advantages__list {
    max-width: 675px;
  }
}
