.advantages {
  padding: 31px 30px 13px;

  &__title {
    padding-bottom: 26px;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: grid;

  }

  &__item {
    padding-top: 50px;
    padding-bottom: 35px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    color: #000000;
  }
}
