.button {
  display: block;
  padding: 16px 70px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #444444;
  text-transform: uppercase;
  border: 2px solid #444444;
  background-color: transparent;
  text-decoration: none;
}
