@use "../global/mixins.scss";

.button {
  @include mixins.button-hover-down;
  display: block;
  padding: 16px;
  width: 260px;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #444444;
  text-transform: uppercase;
  border: 2px solid #444444;
  background-color: transparent;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}
