@use "../global/mixins.scss";

.card-button {
  @include mixins.text-hover-down;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.card-button__icon {
  fill: #000000;
  opacity: 0.2;
}
