.catalog-link {
  display: block;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
  padding: 24px 160px 31px 30px;
  cursor: pointer;
}
