.catalog-list {
  list-style-type: none;
  display: grid;
  margin: 0;
  padding: 0;

  .catalog-list__link {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    font-weight: 700;
    font-size: 19px;
    line-height: 24px;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
  }
}
