@use "../global/variables.scss";

.catalog-list {
  list-style-type: none;
  display: grid;
  margin: 0;
  padding: 0;
}

.catalog-list__item {
  &:nth-child(odd) .catalog-link {
    background-color: #63d1bb;
    padding: 23px 36px 18px 30px;
  }

  &:nth-child(even) .catalog-link {
    background-color: #56c3b2;
    padding: 21px 27px 22px 30px;
  }
}

@media (min-width: variables.$tablet-width) {
  .catalog-list {
    grid-template-columns: 1fr 1fr;
  }
}
