@use "../global/variables.scss";
@use "../global/mixins.scss";

.contacts {
  @include mixins.bottom-zigzag;
  background-position: top left;
  padding: 38px 0 39px;
}

.contacts__title {
  display: block;
  margin: 0 auto;
  padding: 0 30px 28px;
  width: 320px;
  box-sizing: border-box;
}

.contacts__wrapper {
  margin: 0 auto;
  padding: 0 30px 32px;
  width: 320px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.contacts__inner {
  width: 100%;
  padding-bottom: 30px;
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 30px;
}

.contacts__text,
.contacts__subtitle {
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 30px;
  color: #444444;
}

.contacts__link {
  @include mixins.email-hover-down;

  color: #444444;
  text-decoration: none;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #62d1ba;
  }
}
.contacts__map {
  height: 454px;
  margin-bottom: 40px;
}
.contacts__map iframe {
  width: 100%;
}

.contacts__button {
  width: 260px;
  margin: 0 auto;
}

@media (min-width: variables.$tablet-width) {
  .contacts {
    @include mixins.tablet-bottom-zigzag;
    padding: 46px 0 57px;
  }

  .contacts__title {
    width: 768px;
    padding: 40px 50px 50px;
    background: url("../../img/flag.svg") right 52px top 17px no-repeat;
    background-size: 47px 81px;
  }

  .contacts__wrapper {
    width: 768px;
    padding: 0 50px 18px;
    flex-direction: row;
  }

  .contacts__inner {
    width: 50%;
    gap: 23px;
  }

  .contacts__text,
  .contacts__subtitle {
    font-size: 17px;
  }

  .contacts__map {
    height: 457px;
    margin-bottom: 55px;
  }

  .contacts__button {
    width: 230px;
  }
}

@media (min-width: variables.$desktop-width) {
  .contacts {
    @include mixins.desktop-bottom-zigzag;
    background-position: top center;
    padding: 94px 50px 105px;
    width: 1050px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 523px 527px;
    grid-template-areas:
      "title map"
      "text map"
      "button map";
  }

  .contacts__title {
    width: 523px;
    padding: 79px 59px 10px 175px;
    grid-area: title;
    background-position: left 65px top 60px;
  }

  .contacts__map {
    grid-area: map;
    margin: 0;
  }

  .contacts__wrapper {
    padding-left: 175px;
    width: 523px;
    padding-bottom: 0;
    grid-area: text;
    flex-direction: column;
  }

  .contacts__inner {
    width: 100%;
    gap: 24px;

  }

  .contacts__button {
    grid-area: button;
    width: 230px;
    margin-top: auto;
    margin-left: 175px;
  }
}
