@use "../global/variables.scss";
@use "../global/mixins.scss";

.customer-name {
  display: grid;
}

.customer-name__input {
  @include mixins.input-hover-down;
  margin: 0;
  padding: 15px 0;
  width: 260px;
  box-sizing: border-box;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  border: none;
  border-bottom: 2px solid #000000;
}

@media (min-width: variables.$tablet-width) {
  .customer-name {
    display: flex;
    width: 500px;
    align-items: center;
  }

  .customer-name__input {
    font-size: 19px;
    min-width: 375px;
    padding-left: 17px;
    margin-left: 25px;
    flex-grow: 1;
  }
}

@media (min-width: variables.$desktop-width) {
  .customer-name {
    width: 700px;
  }

  .customer-name__input {
    min-width: 573px;
    padding: 13px 17px;
  }
}
