@use "../global/mixins.scss";
@use "../global/variables.scss";

.developer {
  display: grid;
  grid-template-columns: 1fr 67px;
  gap: 9px;
  align-items: center;
  width: 183px;
}

.developer__text {
  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
  color: #000000;
}

.developer__link {
  @include mixins.footer-icon-hover-down;
  padding: 20px;

  &:focus svg {
    opacity: 0.3;
  }
}

@media (min-width: variables.$tablet-width) {
  .developer {
    padding: 31px 0 38px;
  }
}
