.developer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .developer__text {
    font-weight: 700;
    font-size: 19px;
    line-height: 18px;
    color: #000000;
  }

  .developer__link {
    padding: 10px;
  }
}
