@use "../global/variables.scss";

.features {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #444444;
  text-align: left;
}

.features__list {
  border-bottom: 1px solid #ececec;
}

.features__item,
.features__value {
  font-weight: 400;
  padding: 9px 0;
  border-bottom: 1px solid #ececec;
}
