@use "../global/variables.scss";

.filter__list {
  padding: 0;
  margin: 0;
  padding-top: 30px;
  list-style-type: none;
  display: grid;
  gap: 13px;
}
.filter__list--grid {
  padding-top: 27px;
}


.filter__list--grid .filter__item:not(:last-child) {
  margin-bottom: 10px;
}

@media (min-width: variables.$tablet-width) {
  .filter__list {
    padding-top: 0;
    gap: 24px;
  }

  .filter__list--grid {

    grid-template-columns: 200px 200px;
    row-gap: 24px;
    column-gap: 60px;
  }

  .filter__list--grid .filter__item:not(:last-child) {
    margin-bottom: 0;
  }

}

@media (min-width: variables.$desktop-width) {
  .filter__list--grid {
    grid-template-columns: 200px 200px 200px;
    column-gap: 63px;
  }
}
