@use "../global/variables.scss";

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form__description {
  display: block;
  margin: 0 auto;
  padding: 17px 30px 37px;
  width: 320px;
  box-sizing: border-box;
  font-size: 13px;
  line-height: 24px;
  color: #444444;
}

.form__wrapper {
  width: 100%;

}

.form__field {
  border: none;
  padding: 0 30px 30px;
  margin: 0 auto;
  width: 260px;
}

.form__button {
  margin: 0 auto;
  margin-bottom: 55px;
}

@media (min-width: variables.$tablet-width) {
  .form__description {
    padding: 54px 50px 0;
    width: 668px;
    font-size: 17px;
    line-height: 30px;
  }

  .form__field {
    padding: 50px;
    width: 501px;
    position: relative;
    padding-left: 219px;
  }

  .form__wrapper--grey {
    background-color: #f1f1f1;
  }

  .form__button {
    width: 668px;
  }
}

@media (min-width: variables.$desktop-width) {
  .form__description {
    padding-top: 98px;
  }

  .form__field {
    width: 700px;
  }

  .form__wrapper:nth-of-type(2) .filter__list {
    grid-template-columns: 200px 200px 200px;
  }

  .form__button {
    width: 700px;
  }
}
