@use "../global/variables.scss";

.form-button__button {
  width: 260px;
  font-size: 17px;
}

.form-button__note {
  margin: 0;
  margin-top: -15px;
  font-size: 14px;
  line-height: 16px;
  color: #444444;
  margin-bottom: 30px;
}

@media (min-width: variables.$tablet-width) {
  .form-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
  }

  .form-button__button {
    width: 230px;
  }

  .form-button__note {
    order: 2;
    font-size: 17px;
    line-height: 30px;
    margin: 0;
  }
}
