@use "../global/variables.scss";

.index-header {
  width: 100%;
  height: 281px;
  background-image: url("../img/header-background-image.jpg");
  background-position: center top -21px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.index-header__title {
  width: 260px;
  text-align: center;
  padding-top: 73px;
}

@media (min-width: variables.$tablet-width) {
  .index-header {
    height: 625px;
    background-image: url("../../img/header-background-image-tablet.jpg");
  }

  .index-header__title {
    width: 100%;
    padding-top: 155px;
  }
}

@media (min-width: variables.$desktop-width) {
  .index-header {
    height: 627px;
  }

  .index-header__title {
    padding-top: 158px;
  }
}
