@use "../global/variables.scss";

.index-header {
  width: 100%;
  height: 281px;
  background-color: rgba(#f1f1f1, 0.4);
  background-image: url("../img/header-background-image.jpg");
  background-position: center top -18px;
  background-repeat: no-repeat;
  background-size: 320px auto;
  display: flex;
  justify-content: center;
}

@media (min-resolution: 2dppx) {
  .index-header {
    background-image: url("../img/header-background-image-x2.jpg");
  }
}

.index-header__title {
  width: 260px;
  text-align: center;
  padding-top: 73px;
}

@media (min-width: variables.$tablet-width) {
  .index-header {
    height: 758px;
    background-image: url("../../img/header-background-image-tablet.jpg");
    background-position: center top;
    background-size: 768px auto;
  }

  @media (min-resolution: 2dppx) {
    .index-header {
      background-image: url("../img/header-background-image-tablet-x2.jpg");
    }
  }

  .index-header__title {
    width: 100%;
    padding-top: 155px;
  }
}

@media (min-width: variables.$desktop-width) {
  .index-header {
    height: 763px;
    background-image: url("../img/header-background-image-desktop.jpg");
    background-size: 1150px auto;
  }

  @media (min-resolution: 2dppx) {
    .index-header {
      background-image: url("../img/header-background-image-desktop-x2.jpg");
    }
  }

  .index-header__title {
    padding-top: 158px;
  }
}
