.index-catalog-link {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
