@use "../global/variables.scss";

.menu-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.menu-list__item {
  padding-left: 48px;
}

.menu-list__link {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  display: block;
  padding: 28px;
}


@media (min-width: variables.$tablet-width) {
  .menu-list {
    flex-direction: row;
  }
  .menu-list:first-child {
    position: absolute;
    top: 40px;
    left: 0;
  }

  .menu-list__item {
    padding: 0;
  }
}

@media (min-width: variables.$desktop-width) {
  .menu-list:first-child {
    position: static;
  }
}
