.menu-toggle {
  background-color: transparent;
  border: none;
  position: relative;

  &__icon {
    position: absolute;
    top: 0;
    left: 0;

    &--closed {
      fill: transparent;
    }
  }
}

.main-nav__wrapper--hidden + .menu-toggle__icon--closed {

}
