@use "../global/variables.scss";

.modal-form {
  padding-top: 22px;
  display: grid;
  grid-template-columns: repeat(3, 82px);
  column-gap: 7px;
  row-gap: 31px;
}

.modal-form__name {
  display: block;
  margin: 0 auto;
  padding: 16px 22px;
  border: 2px solid rgba(#444444, 0.1);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: #444444;
  text-align: center;
  cursor: pointer;
}

.modal-form__input {
  &:hover + .modal-form__name {
    border-color: #444444;
  }

  &:active + .modal-form__name {
    border-color: #62d1ba;
  }
}

.modal-form__input:checked + .modal-form__name {
  border-color: #63d1bb;
}



@media (min-width: variables.$tablet-width) {
  .modal-form {
    grid-template-columns: repeat(3, 112px);
  }
}
