@use "../global/variables.scss";

.page-footer {
  position: relative;
  background-color: #f1f1f1;
}

.page-footer__wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: #e5e5e5;
  }
}

@media (min-width: variables.$tablet-width) {
  .page-footer__wrapper {
    max-width: 668px;
    padding: 0 50px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &::before {
      display: none;
    }
  }
}

@media (min-width: variables.$desktop-width) {
  .page-footer__wrapper {
    max-width: 1050px;
  }
}
