@use "../global/variables.scss";

.page-header {
  position: relative;
  box-shadow: 0 1px 0 #ececec;
}

.page-header__top {
  padding: 16px 30px;
  display: flex;
  justify-content: center;
  position: relative;
}

.page-header__logo {
  margin: 0 auto;
  padding: 5px;
}

.page-header__toggle {
  position: absolute;
  top: 19px;
  right: 22px;
}

@media (min-width: variables.$tablet-width) {
  .page-header {
    max-width: 768px;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 30px;
  }

  .page-header__top {
    padding: 0;
    position: absolute;
    z-index: 2;
    top: 8px;
    left: 32px;
  }

  .page-header__toggle {
    display: none;
  }
}

@media (min-width: variables.$desktop-width) {
  .page-header {
    max-width: 1150px;
    padding: 0 22px;
    margin: 0 auto;
  }

  .page-header__top {
    left: 50%;
    transform: translateX(-79px);
    top: 3px;
  }
}
