@use "../global/variables.scss";

.promo-product {
  display: grid;
  width: 320px;
  box-sizing: border-box;
  padding: 31px 30px 42px;
  margin: 0 auto;
}

.promo-product__wrapper {
  padding-bottom: 17px;
}

.promo-product__title {
  padding-bottom: 4px;
}

.promo-product__caption {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: #63d1bb;
  text-transform: uppercase;
}

.promo-product__description {
  margin: 0 ;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #444444;
  padding-bottom: 20px;
}

.promo-product__features {
  margin: 0;
  padding: 0;
  padding-bottom: 26px;
}

.promo-product picture {
  display: contents;
}
.promo-product__image {
  padding-bottom: 25px;
  object-fit: cover;
}

.promo-product__price {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #444444;
  text-align: center;
  padding: 0;
  margin: 0;
  padding-bottom: 25px;
}

.promo-product__button {
  width: 260px;
}

@media (min-width: variables.$tablet-width) {
  .promo-product {
    padding: 40px 50px 69px;
    width: 768px;
    grid-template-areas:
      "title title"
      "text image"
      "features image"
      "price image"
      "button image";
    column-gap: 42px;
  }

  .promo-product__wrapper {
    padding-bottom: 32px;
    grid-area: title;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .promo-product__caption {
    text-align: center;
    width: 130px;
    line-height: 17px;
    padding-bottom: 15px;
  }

  .promo-product__description {
    grid-area: text;
    font-size: 17px;
    line-height: 30px;
    color: #444444;
    max-width: 292px;
    padding-bottom: 30px;
  }

  .promo-product__features {
    grid-area: features;
    padding: 0;
  }

  .promo-product__image {
    grid-area: image;
    width: 334px;
    height: 404px;
    padding: 10px 0 0;
  }

  .promo-product__price {
    grid-area: price;
    font-size: 20px;
    padding: 57px 0 33px;
    width: 292px;
  }

  .promo-product__button {
    grid-area: button;
    width: 292px;
  }
}

@media (min-width: variables.$desktop-width) {
  .promo-product {
    position: relative;
    padding: 54px 50px 96px;
    width: 1150px;
    grid-template-areas:
      "title image"
      "text image"
      "features image"
      "price image"
      "button image";
  }

  .promo-product__wrapper {
    grid-area: title;
    min-width: 688px;
    padding-top: 61px;
    z-index: 1;
    position: absolute;
    left: 15px;
    top: 0;
  }

  .promo-product__title {
    order: 2;
  }

  .promo-product__description {
    grid-area: text;
    font-size: 17px;
    line-height: 30px;
    padding-top: 153px;
    padding-bottom: 55px;
    padding-left: 175px;
  }

  .promo-product__features {
    padding-left: 175px;
  }

  .promo-product__image {
    padding: 0;
    grid-area: image;
    width: 525px;
    height: 636px;
  }

  .promo-product__price {
    grid-area: price;
    padding-top: 52px;
    padding-bottom: 30px;
    padding-left: 175px;
  }

  .promo-product__button {
    grid-area: button;
    width: 292px;
    margin-left: 175px;
  }
}
