@use "../global/variables.scss";

.review {
  width: 320px;
  box-sizing: border-box;
  padding: 0 30px 51px;
  margin: 0 auto;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
}

.review__text {
  margin: 0;
  padding: 0;
}

.review__author {
  font-size: 17px;
  line-height: 24px;
  font-style: normal;
  display: grid;
  gap: 6px;
  margin-top: 33px;
}

.review__name {
  font-weight: 700;
}

.review__control {
  margin: 33px auto 38px;
  width: 260px;
  box-sizing: border-box;
}

.review__add-link {
  width: 260px;
  margin: 0 auto;
}

@media (min-width: variables.$tablet-width) {
  .review {
    position: relative;
    width: 768px;
    padding: 25px 50px 0;
    font-size: 17px;
  }

  .review__text {
    width: 668px;
  }

  .review__author  {
    margin-top: 62px;
  }

  .review__control {
    margin: 0;
    position: absolute;
    right: 70px;
    bottom: 8px;
    width: 137px;
  }

  .review__add-link {
    width: 175px;
    box-sizing: border-box;
    position: absolute;
    right: 50px;
    top: -67px;
  }
}

@media (min-width: variables.$desktop-width) {
  .review {
    width: 1150px;
    padding-left: 174px;
  }

  .review__text {
    width: 875px;
  }
  .review__author {
    margin-top: 44px;
  }

  .review__control {
    right: 120px;
  }
  .review__add-link {
    right: 100px;
  }


}
