@use "../global/mixins.scss";
@use "../global/variables.scss";


.review-slider__title {
  display: block;
  padding: 0 30px 14px;
  margin: 0 auto;
  width: 320px;
  box-sizing: border-box;
}


@media (min-width: variables.$tablet-width) {
  .review-slider {
    padding-top: 82px;
    padding-bottom: 118px;
    background-image: url("../img/review-back-tablet.webp");
    background-position: top 0 left 0;
    background-repeat: no-repeat;
    background-size: 350px auto;
  }

  @media (min-resolution: 2dppx) {
    .review-slider {
      background-image: url("../img/review-back-tablet-x2.webp");
    }
  }

  .review-slider__title {
    width: 768px;
    padding-left: 50px;
    box-sizing: border-box;
  }
}

@media (min-width: variables.$desktop-width) {
  .review-slider {
    width: variables.$desktop-width;
    padding: 0 50px 163px;
    box-sizing: border-box;
    margin: 0 auto;
    background-position: top 0 left 50px;
  }

  .review-slider__title {
    width: 100%;
    padding-left: 174px;
    padding-top: 78px;
  }
}
