@use "../global/variables.scss";

.review {
  width: 320px;
  box-sizing: border-box;
  padding: 0 30px 51px;
  margin: 0 auto;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
}

.review__text {
  margin: 0;
  padding: 0;
}

.review__author {
  display: flex;
  flex-direction: column;
  margin-top: 33px;
}

.review__name {
  font-weight: 700;
}

.review__control {
  margin: 30px auto 38px;
  width: 320px;
  box-sizing: border-box;
}

.review__add-link {
  width: 260px;
  margin: 0 auto;
}

@media (min-width: variables.$tablet-width) {
  .review {
    position: relative;
    width: 768px;
    padding: 38px 50px 0;
    font-size: 17px;
  }

  .review__text {
    width: 668px;
  }

  .review__control {
    margin: 0;
    width: 137px;
    position: absolute;
    right: 80px;
    bottom: 0;
  }

  .review__add-link {
    width: 175px;
    box-sizing: border-box;
    position: absolute;
    right: 50px;
    top: -60px;
  }
}

@media (min-width: variables.$desktop-width) {
  .review {
    width: 1150px;
    padding-left: 174px;
  }
}
