@use "../global/mixins.scss";

.slider-control {
  display: flex;
  justify-content: space-between;
  padding: 13px 30px;

  .slider-control__button {
    padding: 0 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;

    @include mixins.text-hover-down;
  }
}
