@use "../global/variables.scss";

.video {
  margin: 0 auto 58px;
  padding-bottom: 33px;
  border: 1px solid #ececec;
  display: flex;
  flex-direction: column;
  width: 260px;
}

.video__title {
  display: block;
  padding: 21px 13px 26px 91px;
  background: url("../../img/video-icon.svg") left 34px top 35px no-repeat;
  background-size: 32px 22px;
}

.video__icon {
  background-color: transparent;
  border: none;
  width: 101px;
  height: auto;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.video__svg {
  object-fit: contain;
}

.video__container {
  position: relative;
  cursor: pointer;

  &:hover .video__svg {
    width: 121px;
    height: auto;
  }

  &:active .video__svg {
    width: 81px;
    opacity: 30%;
  }
}

.video__poster {
  display: block;
  margin: 0 auto;
}

.video__text {
  display: block;
  margin: 0;
  padding: 35px 0 41px 34px;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #444444;
}

.video__cart-link {
  width: 192px;
  box-sizing: border-box;
  margin: 0 auto;

}

@media (min-width: variables.$tablet-width) {
  .video {
    margin: 0 auto 64px;
    width: 668px;
  }

  .video__poster {
    width: 100%;
    height: auto;

  }

  .video__title {
    order: 1;
    margin: 0;
    padding-top: 41px;
    padding-left: 107px;
    background-position: left 45px top 40px;
  }

  .video__text {
    order: 2;
    padding: 0 40px 40px;
    font-size: 15px;
    line-height: 30px;
  }

  .video__cart-link {
    order: 3;
    width: 584px;
  }
}

@media (min-width: variables.$desktop-width) {
  .video {
    margin: 0 auto 105px;
    padding: 0;
    width: 1050px;
    display: grid;
    column-gap: 79px;
    grid-template-columns: 682px 1fr;
    grid-template-areas:
      "video title"
      "video text"
      "video button";
  }

  .video__container {
    grid-area: video;
    width: 682px;
  }

  .video__title {
    grid-area: title;
    width: 230px;
    padding-top: 96px;
    padding-left: 0;
    padding-bottom: 27px;
    background-position: left top 40px;
  }

  .video__text {
    grid-area: text;
    width: 230px;
    padding: 0;
    padding-bottom: 50px;
  }

  .video__cart-link {
    grid-area: button;
    width: 230px;
    margin-bottom: 60px;
    margin-left: 0;
  }
}
